/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}
/* #Typography
================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #181818;
  font-family: serif, "Times New Roman", serif;
  font-weight: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 14px;
}
h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px;
}
h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
}
h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px;
}
h5 {
  font-size: 17px;
  line-height: 24px;
}
h6 {
  font-size: 14px;
  line-height: 21px;
}
.subheader {
  color: #777;
}
p {
  margin: 0 0 20px 0;
}
p img {
  margin: 0;
}
p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
  color: #333;
}
small {
  font-size: 80%;
}
/*  Blockquotes  */
blockquote,
blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}
blockquote cite {
  display: block;
  font-size: 12px;
  color: #555;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
  color: #555;
}
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}
/* #Links
================================================== */
a,
a:visited {
  color: #333;
  text-decoration: underline;
  outline: 0;
}
a:hover,
a:focus {
  color: #000;
}
p a,
p a:visited {
  line-height: inherit;
}
/* #Lists
================================================== */
ul,
ol {
  margin-bottom: 20px;
}
ul {
  list-style: none outside;
}
ol {
  list-style: decimal;
}
ol,
ul.square,
ul.circle,
ul.disc {
  margin-left: 30px;
}
ul.square {
  list-style: square outside;
}
ul.circle {
  list-style: circle outside;
}
ul.disc {
  list-style: disc outside;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%;
}
ul ul li,
ul ol li,
ol ol li,
ol ul li {
  margin-bottom: 6px;
}
li {
  line-height: 18px;
  margin-bottom: 12px;
}
ul.large li {
  line-height: 21px;
}
li p {
  line-height: 21px;
}
/* #Buttons
================================================== */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #eee;
  /* Old browsers */
  /* FF3.6+ */
  background: #eeeeee -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome,Safari4+ */
  background: #eeeeee -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera11.10+ */
  /* IE10+ */
  background: #eeeeee linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 8px 10px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #222;
  background: #ddd;
  /* Old browsers */
  /* FF3.6+ */
  background: #dddddd -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  /* Chrome,Safari4+ */
  background: #dddddd -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera11.10+ */
  /* IE10+ */
  background: #dddddd linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* W3C */
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  border: 1px solid #666;
  background: #ccc;
  /* Old browsers */
  /* FF3.6+ */
  background: #cccccc -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4)));
  /* Chrome,Safari4+ */
  background: #cccccc -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera11.10+ */
  /* IE10+ */
  background: #cccccc linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* W3C */
}
.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}
/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* #Forms
================================================== */
form {
  margin-bottom: 20px;
}
fieldset {
  margin-bottom: 20px;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff;
}
select {
  padding: 0;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #aaa;
  color: #444;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
textarea {
  min-height: 60px;
}
label,
legend {
  display: block;
  font-weight: bold;
  font-size: 13px;
}
select {
  width: 220px;
}
input[type="checkbox"] {
  display: inline;
}
label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444;
}
/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */
@media only screen and (max-width: 767px) {
  .unless-phone,
  .hide-on-phone {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .unless-tablet,
  .hide-on-tablet {
    display: none;
  }
}
@media only screen and (max-width: 959px) {
  .unless-lt-960,
  .hide-on-desktop {
    display: none;
  }
}
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}
/* #Base 960 Grid
================================================== */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}
.container .column,
.container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
.row {
  margin-bottom: 20px;
}
.container.no-columns {
  padding: 0 10px;
  margin-bottom: 20px;
}
/* Nested Column Classes */
.column.alpha,
.columns.alpha {
  margin-left: 0;
}
.column.omega,
.columns.omega {
  margin-right: 0;
}
.container .one-third.column {
  width: 300px;
}
.container .two-thirds.column {
  width: 620px;
}
.row.remove-bottom {
  margin-bottom: 0 !important;
}
.row.half-bottom {
  margin-bottom: 10px !important;
}
.row.add-bottom {
  margin-bottom: 20px !important;
}
/* Base Grid */
.container,
.container.sixteen {
  /* Offsets */
}
.container .one.column,
.container.sixteen .one.column,
.container .one.columns,
.container.sixteen .one.columns {
  width: 40px;
}
.container .two.columns,
.container.sixteen .two.columns {
  width: 100px;
}
.container .three.columns,
.container.sixteen .three.columns {
  width: 160px;
}
.container .four.columns,
.container.sixteen .four.columns {
  width: 220px;
}
.container .five.columns,
.container.sixteen .five.columns {
  width: 280px;
}
.container .six.columns,
.container.sixteen .six.columns {
  width: 340px;
}
.container .seven.columns,
.container.sixteen .seven.columns {
  width: 400px;
}
.container .eight.columns,
.container.sixteen .eight.columns {
  width: 460px;
}
.container .nine.columns,
.container.sixteen .nine.columns {
  width: 520px;
}
.container .ten.columns,
.container.sixteen .ten.columns {
  width: 580px;
}
.container .eleven.columns,
.container.sixteen .eleven.columns {
  width: 640px;
}
.container .twelve.columns,
.container.sixteen .twelve.columns {
  width: 700px;
}
.container .thirteen.columns,
.container.sixteen .thirteen.columns {
  width: 760px;
}
.container .fourteen.columns,
.container.sixteen .fourteen.columns {
  width: 820px;
}
.container .fifteen.columns,
.container.sixteen .fifteen.columns {
  width: 880px;
}
.container .sixteen.columns,
.container.sixteen .sixteen.columns {
  width: 940px;
}
.container .offset-by-one,
.container.sixteen .offset-by-one {
  padding-left: 60px;
}
.container .offset-by-two,
.container.sixteen .offset-by-two {
  padding-left: 120px;
}
.container .offset-by-three,
.container.sixteen .offset-by-three {
  padding-left: 180px;
}
.container .offset-by-four,
.container.sixteen .offset-by-four {
  padding-left: 240px;
}
.container .offset-by-five,
.container.sixteen .offset-by-five {
  padding-left: 300px;
}
.container .offset-by-six,
.container.sixteen .offset-by-six {
  padding-left: 360px;
}
.container .offset-by-seven,
.container.sixteen .offset-by-seven {
  padding-left: 420px;
}
.container .offset-by-eight,
.container.sixteen .offset-by-eight {
  padding-left: 480px;
}
.container .offset-by-nine,
.container.sixteen .offset-by-nine {
  padding-left: 540px;
}
.container .offset-by-ten,
.container.sixteen .offset-by-ten {
  padding-left: 600px;
}
.container .offset-by-eleven,
.container.sixteen .offset-by-eleven {
  padding-left: 660px;
}
.container .offset-by-twelve,
.container.sixteen .offset-by-twelve {
  padding-left: 720px;
}
.container .offset-by-thirteen,
.container.sixteen .offset-by-thirteen {
  padding-left: 780px;
}
.container .offset-by-fourteen,
.container.sixteen .offset-by-fourteen {
  padding-left: 840px;
}
.container .offset-by-fifteen,
.container.sixteen .offset-by-fifteen {
  padding-left: 900px;
}
/* #12 Column Alternative */
.container.twelve {
  /* Offsets */
}
.container.twelve .one.column,
.container.twelve .one.columns {
  width: 60px;
}
.container.twelve .two.columns {
  width: 140px;
}
.container.twelve .three.columns {
  width: 220px;
}
.container.twelve .four.columns {
  width: 300px;
}
.container.twelve .five.columns {
  width: 380px;
}
.container.twelve .six.columns {
  width: 460px;
}
.container.twelve .seven.columns {
  width: 540px;
}
.container.twelve .eight.columns {
  width: 620px;
}
.container.twelve .nine.columns {
  width: 700px;
}
.container.twelve .ten.columns {
  width: 780px;
}
.container.twelve .eleven.columns {
  width: 860px;
}
.container.twelve .twelve.columns {
  width: 940px;
}
.container.twelve .offset-by-one {
  padding-left: 80px;
}
.container.twelve .offset-by-two {
  padding-left: 160px;
}
.container.twelve .offset-by-three {
  padding-left: 240px;
}
.container.twelve .offset-by-four {
  padding-left: 320px;
}
.container.twelve .offset-by-five {
  padding-left: 400px;
}
.container.twelve .offset-by-six {
  padding-left: 480px;
}
.container.twelve .offset-by-seven {
  padding-left: 560px;
}
.container.twelve .offset-by-eight {
  padding-left: 640px;
}
.container.twelve .offset-by-nine {
  padding-left: 720px;
}
.container.twelve .offset-by-ten {
  padding-left: 800px;
}
.container.twelve .offset-by-eleven {
  padding-left: 880px;
}
/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .container {
    width: 768px;
  }
  .container .column,
  .container .columns {
    margin-left: 10px;
    margin-right: 10px;
  }
  .column.alpha,
  .columns.alpha {
    margin-left: 0;
    margin-right: 10px;
  }
  .column.omega,
  .columns.omega {
    margin-right: 0;
    margin-left: 10px;
  }
  .alpha.omega {
    margin-left: 0;
    margin-right: 0;
  }
  .container .one-third.column {
    width: 236px;
  }
  .container .two-thirds.column {
    width: 492px;
  }
  .container,
  .container.sixteen {
    /* Offsets */
  }
  .container .one.column,
  .container.sixteen .one.column,
  .container .one.columns,
  .container.sixteen .one.columns {
    width: 28px;
  }
  .container .two.columns,
  .container.sixteen .two.columns {
    width: 76px;
  }
  .container .three.columns,
  .container.sixteen .three.columns {
    width: 124px;
  }
  .container .four.columns,
  .container.sixteen .four.columns {
    width: 172px;
  }
  .container .five.columns,
  .container.sixteen .five.columns {
    width: 220px;
  }
  .container .six.columns,
  .container.sixteen .six.columns {
    width: 268px;
  }
  .container .seven.columns,
  .container.sixteen .seven.columns {
    width: 316px;
  }
  .container .eight.columns,
  .container.sixteen .eight.columns {
    width: 364px;
  }
  .container .nine.columns,
  .container.sixteen .nine.columns {
    width: 412px;
  }
  .container .ten.columns,
  .container.sixteen .ten.columns {
    width: 460px;
  }
  .container .eleven.columns,
  .container.sixteen .eleven.columns {
    width: 508px;
  }
  .container .twelve.columns,
  .container.sixteen .twelve.columns {
    width: 556px;
  }
  .container .thirteen.columns,
  .container.sixteen .thirteen.columns {
    width: 604px;
  }
  .container .fourteen.columns,
  .container.sixteen .fourteen.columns {
    width: 652px;
  }
  .container .fifteen.columns,
  .container.sixteen .fifteen.columns {
    width: 700px;
  }
  .container .sixteen.columns,
  .container.sixteen .sixteen.columns {
    width: 748px;
  }
  .container .offset-by-one,
  .container.sixteen .offset-by-one {
    padding-left: 48px;
  }
  .container .offset-by-two,
  .container.sixteen .offset-by-two {
    padding-left: 96px;
  }
  .container .offset-by-three,
  .container.sixteen .offset-by-three {
    padding-left: 144px;
  }
  .container .offset-by-four,
  .container.sixteen .offset-by-four {
    padding-left: 192px;
  }
  .container .offset-by-five,
  .container.sixteen .offset-by-five {
    padding-left: 240px;
  }
  .container .offset-by-six,
  .container.sixteen .offset-by-six {
    padding-left: 288px;
  }
  .container .offset-by-seven,
  .container.sixteen .offset-by-seven {
    padding-left: 336px;
  }
  .container .offset-by-eight,
  .container.sixteen .offset-by-eight {
    padding-left: 384px;
  }
  .container .offset-by-nine,
  .container.sixteen .offset-by-nine {
    padding-left: 432px;
  }
  .container .offset-by-ten,
  .container.sixteen .offset-by-ten {
    padding-left: 480px;
  }
  .container .offset-by-eleven,
  .container.sixteen .offset-by-eleven {
    padding-left: 528px;
  }
  .container .offset-by-twelve,
  .container.sixteen .offset-by-twelve {
    padding-left: 576px;
  }
  .container .offset-by-thirteen,
  .container.sixteen .offset-by-thirteen {
    padding-left: 624px;
  }
  .container .offset-by-fourteen,
  .container.sixteen .offset-by-fourteen {
    padding-left: 672px;
  }
  .container .offset-by-fifteen,
  .container.sixteen .offset-by-fifteen {
    padding-left: 720px;
  }
  /*****************************
            12 Column
            ((768/12) - 20) * 1 = 44
        *****************************/
  .container.twelve {
    /* Offsets */
  }
  .container.twelve .one.column,
  .container.twelve .one.columns {
    width: 44px;
  }
  .container.twelve .two.columns {
    width: 108px;
  }
  .container.twelve .three.columns {
    width: 172px;
  }
  .container.twelve .four.columns {
    width: 236px;
  }
  .container.twelve .five.columns {
    width: 300px;
  }
  .container.twelve .six.columns {
    width: 364px;
  }
  .container.twelve .seven.columns {
    width: 428px;
  }
  .container.twelve .eight.columns {
    width: 492px;
  }
  .container.twelve .nine.columns {
    width: 556px;
  }
  .container.twelve .ten.columns {
    width: 620px;
  }
  .container.twelve .eleven.columns {
    width: 684px;
  }
  .container.twelve .twelve.columns {
    width: 748px;
  }
  .container.twelve .offset-by-one {
    padding-left: 64px;
  }
  .container.twelve .offset-by-two {
    padding-left: 128px;
  }
  .container.twelve .offset-by-three {
    padding-left: 192px;
  }
  .container.twelve .offset-by-four {
    padding-left: 256px;
  }
  .container.twelve .offset-by-five {
    padding-left: 320px;
  }
  .container.twelve .offset-by-six {
    padding-left: 384px;
  }
  .container.twelve .offset-by-seven {
    padding-left: 448px;
  }
  .container.twelve .offset-by-eight {
    padding-left: 512px;
  }
  .container.twelve .offset-by-nine {
    padding-left: 576px;
  }
  .container.twelve .offset-by-ten {
    padding-left: 640px;
  }
  .container.twelve .offset-by-eleven {
    padding-left: 704px;
  }
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .container {
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
  }
  .container .columns,
  .container .column {
    margin: 0;
  }
  .container,
  .container.sixteen,
  .container.twelve {
    /* Offsets */
  }
  .container .one.column,
  .container.sixteen .one.column,
  .container.twelve .one.column,
  .container .one.columns,
  .container.sixteen .one.columns,
  .container.twelve .one.columns,
  .container .two.columns,
  .container.sixteen .two.columns,
  .container.twelve .two.columns,
  .container .three.columns,
  .container.sixteen .three.columns,
  .container.twelve .three.columns,
  .container .four.columns,
  .container.sixteen .four.columns,
  .container.twelve .four.columns,
  .container .five.columns,
  .container.sixteen .five.columns,
  .container.twelve .five.columns,
  .container .six.columns,
  .container.sixteen .six.columns,
  .container.twelve .six.columns,
  .container .seven.columns,
  .container.sixteen .seven.columns,
  .container.twelve .seven.columns,
  .container .eight.columns,
  .container.sixteen .eight.columns,
  .container.twelve .eight.columns,
  .container .nine.columns,
  .container.sixteen .nine.columns,
  .container.twelve .nine.columns,
  .container .ten.columns,
  .container.sixteen .ten.columns,
  .container.twelve .ten.columns,
  .container .eleven.columns,
  .container.sixteen .eleven.columns,
  .container.twelve .eleven.columns,
  .container .twelve.columns,
  .container.sixteen .twelve.columns,
  .container.twelve .twelve.columns,
  .container .thirteen.columns,
  .container.sixteen .thirteen.columns,
  .container.twelve .thirteen.columns,
  .container .fourteen.columns,
  .container.sixteen .fourteen.columns,
  .container.twelve .fourteen.columns,
  .container .fifteen.columns,
  .container.sixteen .fifteen.columns,
  .container.twelve .fifteen.columns,
  .container .sixteen.columns,
  .container.sixteen .sixteen.columns,
  .container.twelve .sixteen.columns,
  .container .one-third.column,
  .container.sixteen .one-third.column,
  .container.twelve .one-third.column,
  .container .two-thirds.column,
  .container.sixteen .two-thirds.column,
  .container.twelve .two-thirds.column {
    width: 100%;
  }
  .container .offset-by-one,
  .container.sixteen .offset-by-one,
  .container.twelve .offset-by-one,
  .container .offset-by-two,
  .container.sixteen .offset-by-two,
  .container.twelve .offset-by-two,
  .container .offset-by-three,
  .container.sixteen .offset-by-three,
  .container.twelve .offset-by-three,
  .container .offset-by-four,
  .container.sixteen .offset-by-four,
  .container.twelve .offset-by-four,
  .container .offset-by-five,
  .container.sixteen .offset-by-five,
  .container.twelve .offset-by-five,
  .container .offset-by-six,
  .container.sixteen .offset-by-six,
  .container.twelve .offset-by-six,
  .container .offset-by-seven,
  .container.sixteen .offset-by-seven,
  .container.twelve .offset-by-seven,
  .container .offset-by-eight,
  .container.sixteen .offset-by-eight,
  .container.twelve .offset-by-eight,
  .container .offset-by-nine,
  .container.sixteen .offset-by-nine,
  .container.twelve .offset-by-nine,
  .container .offset-by-ten,
  .container.sixteen .offset-by-ten,
  .container.twelve .offset-by-ten,
  .container .offset-by-eleven,
  .container.sixteen .offset-by-eleven,
  .container.twelve .offset-by-eleven,
  .container .offset-by-twelve,
  .container.sixteen .offset-by-twelve,
  .container.twelve .offset-by-twelve,
  .container .offset-by-thirteen,
  .container.sixteen .offset-by-thirteen,
  .container.twelve .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container.sixteen .offset-by-fourteen,
  .container.twelve .offset-by-fourteen,
  .container .offset-by-fifteen,
  .container.sixteen .offset-by-fifteen,
  .container.twelve .offset-by-fifteen {
    padding-left: 0;
  }
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px
    * Reduce column width from 420px to 400px;
    * Add padding to left and right of columns
    * By Minh
    */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px;
    padding: 0 10px;
    /* Safari/Chrome, other WebKit */
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
  }
  .container .columns,
  .container .column {
    margin: 0;
  }
  .container .one.column,
  .container.sixteen .one.column,
  .container.twelve .one.column,
  .container .one.columns,
  .container.sixteen .one.columns,
  .container.twelve .one.columns,
  .container .two.columns,
  .container.sixteen .two.columns,
  .container.twelve .two.columns,
  .container .three.columns,
  .container.sixteen .three.columns,
  .container.twelve .three.columns,
  .container .four.columns,
  .container.sixteen .four.columns,
  .container.twelve .four.columns,
  .container .five.columns,
  .container.sixteen .five.columns,
  .container.twelve .five.columns,
  .container .six.columns,
  .container.sixteen .six.columns,
  .container.twelve .six.columns,
  .container .seven.columns,
  .container.sixteen .seven.columns,
  .container.twelve .seven.columns,
  .container .eight.columns,
  .container.sixteen .eight.columns,
  .container.twelve .eight.columns,
  .container .nine.columns,
  .container.sixteen .nine.columns,
  .container.twelve .nine.columns,
  .container .ten.columns,
  .container.sixteen .ten.columns,
  .container.twelve .ten.columns,
  .container .eleven.columns,
  .container.sixteen .eleven.columns,
  .container.twelve .eleven.columns,
  .container .twelve.columns,
  .container.sixteen .twelve.columns,
  .container.twelve .twelve.columns,
  .container .thirteen.columns,
  .container.sixteen .thirteen.columns,
  .container.twelve .thirteen.columns,
  .container .fourteen.columns,
  .container.sixteen .fourteen.columns,
  .container.twelve .fourteen.columns,
  .container .fifteen.columns,
  .container.sixteen .fifteen.columns,
  .container.twelve .fifteen.columns,
  .container .sixteen.columns,
  .container.sixteen .sixteen.columns,
  .container.twelve .sixteen.columns,
  .container .one-third.column,
  .container.sixteen .one-third.column,
  .container.twelve .one-third.column,
  .container .two-thirds.column,
  .container.sixteen .two-thirds.column,
  .container.twelve .two-thirds.column {
    width: 100%;
  }
}
/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.row:after,
.clearfix:after {
  clear: both;
}
.row,
.clearfix {
  zoom: 1;
}
/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* Default */
body,
html {
  height: 100%;
}
body {
  background: #cccccc;
  -webkit-font-smoothing: antialiased;
}
.site-wrapper {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}
.main-content {
  width: 1000px;
  height: 640px;
  margin: 0 auto;
  background: #ffffff;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .main-content {
    width: 768px;
    height: 617px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .main-content {
    width: 420px;
    height: auto;
  }
}
@media only screen and (max-width: 479px) {
  .main-content {
    width: 100%;
    height: auto;
  }
}
.main-content .panel {
  float: left;
}
@media only screen and (max-width: 767px) {
  .main-content .panel {
    float: none;
  }
}
.main-content .panel.form {
  width: 480px;
  padding: 40px;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .main-content .panel.form {
    width: 370px;
    padding: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .main-content .panel.form {
    width: 100%;
    padding: 30px 10px;
  }
}
.main-content .panel.preview {
  width: 520px;
  background: #e1e4e7;
  height: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .main-content .panel.preview {
    width: 398px;
  }
}
@media only screen and (max-width: 767px) {
  .main-content .panel.preview {
    width: 100%;
  }
}
.main-content h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 28px;
  line-height: 30px;
  color: #2c3e50;
  font-weight: 800;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .main-content h1 {
    font-size: 24px;
    line-height: 26px;
  }
}
.main-content h2 {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  background: #2c3e50;
  padding: 23px 25px;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .main-content h2 {
    font-size: 18px;
    padding: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .main-content h2 {
    font-size: 18px;
    padding: 15px;
  }
}
.main-content form .row {
  margin-bottom: 0;
}
.main-content form .row:last-child {
  text-align: center;
}
.main-content form .row .col {
  width: 190px;
  float: left;
}
.main-content form .row .col:first-child {
  margin-right: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .main-content form .row .col {
    width: 145px;
  }
}
@media only screen and (max-width: 767px) {
  .main-content form .row .col {
    float: none;
    width: 100%;
  }
}
.main-content form .info-title {
  margin-top: 35px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
  color: #b0b8bc;
  text-transform: uppercase;
  border-bottom: 1px solid #c3c4c3;
  padding-bottom: 2px;
  margin-bottom: 12px;
}
.main-content form label {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #2c3e50;
  text-transform: uppercase;
  margin: 12px 0 2px 0;
}
.main-content form input {
  width: 100%;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  height: 35px;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  color: #000000;
  padding: 0 8px;
  border-radius: 5px;
  margin-bottom: 0;
}
.main-content form button {
  width: 190px;
  height: 42px;
  border-radius: 5px;
  background: #3498db;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  line-height: 15px;
  border: none;
  text-shadow: none;
  margin: 0 auto;
  margin-top: 30px;
}
.main-content .hcard-preview-inner-wrapper {
  padding: 0 45px;
  margin: 0 auto;
  position: relative;
  top: 46%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
@media only screen and (max-width: 767px) {
  .main-content .hcard-preview-inner-wrapper {
    position: static;
    top: 0;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    padding: 20px 10px;
  }
}
.main-content .hcard-preview-inner-wrapper .hcard-preview-title {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #95a5a6;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .main-content .hcard-preview-inner-wrapper .hcard-preview-title {
    font-size: 12px;
    margin-bottom: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .main-content .hcard-preview-inner-wrapper .hcard-preview-title {
    text-align: center;
  }
}
.main-content .hcard-preview-inner-wrapper .content-preview {
  background: #ffffff;
  padding: 25px;
  border-bottom: 2px solid #9a9a9a;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .main-content .hcard-preview-inner-wrapper .content-preview {
    padding: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .main-content .hcard-preview-inner-wrapper .content-preview {
    padding: 15px;
  }
}
.main-content .hcard-preview-inner-wrapper .content-preview .row {
  margin-bottom: 8px;
  border-bottom: 1px solid #dbe0e2;
  width: 100%;
}
.main-content .hcard-preview-inner-wrapper .content-preview .row:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .main-content .hcard-preview-inner-wrapper .content-preview .row {
    border-bottom: none;
    margin-bottom: 0;
  }
}
.main-content .hcard-preview-inner-wrapper .content-preview div {
  display: inline;
  float: left;
}
.main-content .hcard-preview-inner-wrapper .content-preview div.title {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #34495e;
  font-weight: 400;
  text-transform: uppercase;
  width: 75px;
  margin-top: 8px;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .main-content .hcard-preview-inner-wrapper .content-preview div.title {
    width: 60px;
    font-size: 8px;
    margin-top: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .main-content .hcard-preview-inner-wrapper .content-preview div.title {
    width: 100%;
    margin-top: 12px;
  }
}
.main-content .hcard-preview-inner-wrapper .content-preview div.value {
  width: 305px;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: 400;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .main-content .hcard-preview-inner-wrapper .content-preview div.value {
    width: 218px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .main-content .hcard-preview-inner-wrapper .content-preview div.value {
    width: 100%;
    font-size: 14px;
  }
}
.main-content .hcard-preview-inner-wrapper .content-preview div.postcode,
.main-content .hcard-preview-inner-wrapper .content-preview div.country {
  width: 115px;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .main-content .hcard-preview-inner-wrapper .content-preview div.postcode,
  .main-content .hcard-preview-inner-wrapper .content-preview div.country {
    width: 78px;
  }
}
@media only screen and (max-width: 767px) {
  .main-content .hcard-preview-inner-wrapper .content-preview div.hide-on-phone {
    display: none;
  }
}
